# Temp
.DS_Store
.vscode
.idea
.temp

# Node
**/node_modules/
**/yarn.lock
**/package-lock.json

# Publish
/dist
/bundle

# Tests
/playwright/test-results/
/playwright/playwright-report/
/playwright/playwright/.cache/
/playwright/tests-examples
/playwright/tests/basics/**/*.png
